In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from sklearn.preprocessing import MinMaxScaler

In [10]:
rhone_valley_wines_f = pd.read_csv('./Data/wine_RhoneValley_rmDupl.csv').drop(columns='Unnamed: 0')

In [18]:
rhone_valley_wines_o = pd.read_csv('./Data/French_red_white_wines2_re.csv')

In [19]:
rhone_valley_wines_f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         385 non-null    object
 1   year         385 non-null    int64
 2   price        385 non-null    object
 3   bodyPercent  385 non-null    object
 4   Tanning      385 non-null    object
 5   Sugar        385 non-null    object
 6   Acidic       385 non-null    object
dtypes: int64(1), object(6)
memory usage: 21.2+ KB

In [20]:
rhone_valley_wines_o.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2593 entries, 0 to 2592
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   wine_image      2593 non-null   object
 1   name            2593 non-null   object
 2   year            2593 non-null   int64
 3   price           2593 non-null   object
 4   bodyPercent     2593 non-null   object
 5   Tanning         2593 non-null   object
 6   Acidic          2593 non-null   object
 7   compareFoods    2593 non-null   object
 8   rating          2593 non-null   float64
 9   about_wine      2593 non-null   object
 10  Winery          2593 non-null   object
 11  Type            2593 non-null   object
 12  NewBodyPercent  2593 non-null   float64
 13  NewTanning      2593 non-null   float64
 14  NewAcidic       2593 non-null   float64
 15  Grape_Type      2593 non-null   object
 16  Alcohol         2593 non-null   object
 17  Allergy         1896 non-null   object
dtypes: float64(4), int64(1), object(13)
memory usage: 364.8+ KB

In [109]:
rhone_valley_wines_o.drop_duplicates(inplace=True)

In [111]:
rhone_valley_wines_o['name']

0       Château Beausejour (héritiers Duffau-Lagarross...
1                   Château La Conseillante\nPomerol 2018
2                             Château Gazin\nPomerol 2018
3       Château Gruaud Larose\nSaint-Julien (Grand Cru...
4       Château Grand-Puy-Lacoste\nPauillac (Grand Cru...
                              ...
2588    Clos Saint Jean\nChateauneuf-du-Pape La Combe ...
2589                Château Pesquie\nVentoux Artemia 2019
2590    Barton & Guestier\nLes Roches Noires Châteaune...
2591    Domaine de la Janasse\nChâteauneuf-du-Pape Vie...
2592    Pegau\nCuvée Réservée Châteauneuf-du-Pape Roug...
Name: name, Length: 2526, dtype: object

In [166]:
rhone_valley_wines_o = rhone_valley_wines_o.reset_index(drop=True, inplace=True)

In [150]:
inner_join_rhone_valley = pd.merge(rhone_valley_wines_f, rhone_valley_wines_o, on='name', how='left')

In [151]:
inner_join_rhone_valley.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            385 non-null    object
 1   year_x          385 non-null    int64
 2   price_x         385 non-null    object
 3   bodyPercent_x   385 non-null    object
 4   Tanning_x       385 non-null    object
 5   Sugar           385 non-null    object
 6   Acidic_x        385 non-null    object
 7   wine_image      383 non-null    object
 8   year_y          383 non-null    float64
 9   price_y         383 non-null    object
 10  bodyPercent_y   383 non-null    object
 11  Tanning_y       383 non-null    object
 12  Acidic_y        383 non-null    object
 13  compareFoods    383 non-null    object
 14  rating          383 non-null    float64
 15  about_wine      383 non-null    object
 16  Winery          383 non-null    object
 17  Type            383 non-null    object
 18  NewBodyPercent  383 non-null    float64
 19  NewTanning      383 non-null    float64
 20  NewAcidic       383 non-null    float64
 21  Grape_Type      383 non-null    object
 22  Alcohol         383 non-null    object
 23  Allergy         311 non-null    object
dtypes: float64(5), int64(1), object(18)
memory usage: 72.3+ KB

In [153]:
inner_join_rhone_valley.drop(columns='Allergy', inplace=True)

In [154]:
inner_join_rhone_valley.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            385 non-null    object
 1   year_x          385 non-null    int64
 2   price_x         385 non-null    object
 3   bodyPercent_x   385 non-null    object
 4   Tanning_x       385 non-null    object
 5   Sugar           385 non-null    object
 6   Acidic_x        385 non-null    object
 7   wine_image      383 non-null    object
 8   year_y          383 non-null    float64
 9   price_y         383 non-null    object
 10  bodyPercent_y   383 non-null    object
 11  Tanning_y       383 non-null    object
 12  Acidic_y        383 non-null    object
 13  compareFoods    383 non-null    object
 14  rating          383 non-null    float64
 15  about_wine      383 non-null    object
 16  Winery          383 non-null    object
 17  Type            383 non-null    object
 18  NewBodyPercent  383 non-null    float64
 19  NewTanning      383 non-null    float64
 20  NewAcidic       383 non-null    float64
 21  Grape_Type      383 non-null    object
 22  Alcohol         383 non-null    object
dtypes: float64(5), int64(1), object(17)
memory usage: 69.3+ KB

In [157]:
inner_join_rhone_valley.dropna(axis=0, inplace=True)

In [160]:
inner_join_rhone_valley = inner_join_rhone_valley.reset_index().drop(columns='index')

In [161]:
inner_join_rhone_valley.shape

(383, 23)

In [163]:
inner_join_rhone_valley.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383 entries, 0 to 382
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            383 non-null    object
 1   year_x          383 non-null    int64
 2   price_x         383 non-null    object
 3   bodyPercent_x   383 non-null    object
 4   Tanning_x       383 non-null    object
 5   Sugar           383 non-null    object
 6   Acidic_x        383 non-null    object
 7   wine_image      383 non-null    object
 8   year_y          383 non-null    float64
 9   price_y         383 non-null    object
 10  bodyPercent_y   383 non-null    object
 11  Tanning_y       383 non-null    object
 12  Acidic_y        383 non-null    object
 13  compareFoods    383 non-null    object
 14  rating          383 non-null    float64
 15  about_wine      383 non-null    object
 16  Winery          383 non-null    object
 17  Type            383 non-null    object
 18  NewBodyPercent  383 non-null    float64
 19  NewTanning      383 non-null    float64
 20  NewAcidic       383 non-null    float64
 21  Grape_Type      383 non-null    object
 22  Alcohol         383 non-null    object
dtypes: float64(5), int64(1), object(17)
memory usage: 68.9+ KB